{% extends "base.html" %}
{% block content %}
    <div class="row m-row--full-height">
        <div class="col-sm-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Dynamic Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="chart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="m-portlet m-portlet--full-height m-portlet--fit ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Current data
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    Last received
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-star"></i>
                                                            <span class="m-nav__link-text">
                                                                Last received
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-squares-3"></i>
                                                            <span class="m-nav__link-text">
                                                                Average
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget4" style="min-height: 300px">
                        <div class="m-widget4__item">
                            <div class="m-widget4__ext">
                                <a href="#" class="m-widget4__icon m--font-brand">
                                    <i class="flaticon-interface-3"></i>
                                </a>
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    Make Metronic Great Again
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span class="m-widget4__number m--font-accent">
                                    +500
                                </span>
                            </div>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__ext">
                                <a href="#" class="m-widget4__icon m--font-brand">
                                    <i class="flaticon-folder-4"></i>
                                </a>
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    Green Maker Team
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span class="m-widget4__stats m--font-info">
                                    <span class="m-widget4__number m--font-accent">
                                        -64
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__ext">
                                <a href="#" class="m-widget4__icon m--font-brand">
                                    <i class="flaticon-line-graph"></i>
                                </a>
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    Make Apex Great Again
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span class="m-widget4__stats m--font-info">
                                    <span class="m-widget4__number m--font-accent">
                                        +1080
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="m-widget4__item m-widget4__item--last">
                            <div class="m-widget4__ext">
                                <a href="#" class="m-widget4__icon m--font-brand">
                                    <i class="flaticon-diagram"></i>
                                </a>
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    A Programming Language
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span class="m-widget4__stats m--font-info">
                                    <span class="m-widget4__number m--font-accent">
                                        +19
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function() {
            // We use an inline data source in the example, usually data would
            // be fetched from a server
            var data = [],
                totalPoints = 300;

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);

                // Do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;
                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }
                    data.push(y);
                }
                // Zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }
                return res;
            }

            // Set up the control widget
            var updateInterval = 30;
            // $("#updateInterval").val(updateInterval).change(function () {
            //     var v = $(this).val();
            //     if (v && !isNaN(+v)) {
            //         updateInterval = +v;
            //         if (updateInterval < 1) {
            //             updateInterval = 1;
            //         } else if (updateInterval > 2000) {
            //             updateInterval = 2000;
            //         }
            //         $(this).val("" + updateInterval);
            //     }
            // });

            var plot = $.plot("#chart", [ getRandomData() ], {
                series: {
                    shadowSize: 0   // Drawing is faster without shadows
                },
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                    show: false
                }
            });

            function update() {
                plot.setData([getRandomData()]);
                // Since the axes don't change, we don't need to call plot.setupGrid()
                plot.draw();
                setTimeout(update, updateInterval);
            }
            update();
        });
    </script>
{% endblock %}
